<section class="container">
	<div class="content">
		<h1>Scroll to Begin</h1>
		<p>Start it like this..</p>
	</div>
</section>

<section class="container">
	<div class="content">
		<h1>Step 1</h1>
		<p>Start it like this..</p>
	</div>
</section>

<section class="container">
	<div class="content">
		<h1>Step 2</h1>
		<p>Start it like this..</p>
	</div>
</section>

<section class="container">
	<div class="content">
		<h1>Step 3</h1>
		<p>Start it like this..</p>
	</div>
</section>

<section class="container">
	<div class="content">
		<h1>Step 4</h1>
		<p>Start it like this..</p>
	</div>
</section>

<div id="set-height"></div>

<video id="v0" tabindex="0" , autobuffer preload>
	<source type="video/mp4" src="/assets/ScrollAnimation.mp4" />
</video>